body {
  background: linear-gradient(135deg, #111827, #8a1e1e);
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 100px;
}

/* GRID WRAPPER */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  padding: 0 40px;
  justify-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 28px;
}

.logo p {
  margin: 5px 0 0;
  color: #d1d5db;
  font-size: 14px;
}

.tags {
  margin-top: 15px;
}

.tags span {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;

  border-radius: 20px;

  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);

  font-size: 14px;
}
